@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@layer base {
  :root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-light: hsl(0, 0%, 42%);
    --gray-dark: hsl(0, 0%, 7%);

    /* Font */
    --font-family: "Figtree", sans-serif;
    /* Font Weights */
    --font-weight-regular: 500;
    --font-weight-bold: 800;

    --desktop-card-width: 387px;
    --mobile-card-width: 327px;
  }
}
@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
@layer utilities {
  body {
    font-family: var(--font-family);
    background-color: var(--yellow);
  }
}
@layer layout {
  .section {
    width: 100%;
    min-height: calc(100dvh - 2rem);
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 24px;
    width: var(--desktop-card-width);
    box-shadow: 10px 8px 12px rgb(0, 0, 0);
  }
  .image-container {
    width: 100%;
    display: block;
  }
  .main-image {
    width: 100%;
    border-radius: 10px;
  }
  .attribute-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: start;
  }
  .learning-attribute {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    background-color: var(--yellow);
    padding: 4px 8px;
    border-radius: 4px;
  }
  .date-attribute {
    font-size: 0.875rem;
    color: var(--gray-light);
  }
  .text-continer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .text-continer h1 {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
    font-weight: var(--font-weight-bold);
    color: var(--gray-dark);
  }
  .text-continer h1:hover {
    color: var(--yellow);
    cursor: pointer;
  }
  .text-continer p {
    font-size: 1rem;
    color: var(--gray-light);
  }
  .profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .profile-image {
    width: 32px;
    height: 32px;
  }
  .profile-container span {
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);
  }

  footer {
    block-size: 2rem;
  }
  .attribution {
    font-size: 0.6875rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@layer responsive {
  @media (max-width: 400px) {
    .card-container {
      width: var(--mobile-card-width);
    }
  }
}
